* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

.conteiner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.conteiner .content {
    display: grid;
    gap: 40px;
    position: relative;
    left: 30px;
    top: 7px;
}

.conteiner .content .item {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
}
.conteiner .content .item2 {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
}
.conteiner .content .item3 {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
}
.conteiner .content .item4 {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
}

.conteiner .b {
    display: flex;
    align-items: center;
    justify-content: center;

}

.conteiner .b .box {
    width: 800px;
    height: 400px;
    border: 1px solid #000;
    position: absolute;
    bottom: 170px;
}

img {
    width: 100%;
    height: 100%;
}